.footer-home {
  // padding-top: 40px;
  padding-bottom: 50px;
  .box {
    border: 3px solid $blue;
    border-bottom: none;
    padding-top: 55px;
    padding-bottom: 100px;
    img {
      padding-bottom: 55px;
    }
    .infos {
      .info {
        display: flex;
        align-items: baseline;
        color: $blue;
        margin-bottom: 20px;
        i {
          padding-right: 10px;
          position: relative;
          top: 2px;
        }
        span {
          font-size: 15px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .form-box {
    background: $yellow;
    padding-top: 55px;
    padding-bottom: 45px;
    .title {
      font-size: 35px;
      letter-spacing: 0.05em;
      line-height: 40px;
      padding-bottom: 30px;
    }
    .wpcf7-not-valid-tip {
      position: relative;
      top: -15px;
      font-size: 14px;
    }
    input[type="text"],
    input[type="email"],
    textarea {
      height: 45px;
      background: #f5f5f5;
      border: 1px solid #969aa5;
      padding: 7px;
      outline: none;
      margin-bottom: 15px;
      width: 100%;
      &::placeholder {
        font-family: "Fractul italic";
        font-size: 14px;
        letter-spacing: 0.05em;
        color: #969aa5;
      }
    }
    textarea {
      height: 140px !important;
    }
    .btn-cta {
      padding: 10px 30px;
      display: block;
      margin: 0 0 0 auto;
      margin-top: 5px !important;
      border: none;
      outline: none;
    }
  }
  .footer-detail {
    border: 3px solid $blue;
    border-top: none !important;
    height: 90px;
  }
  @media (min-width: map-get($grid-breakpoints  , lg )) {
    position: relative;
    .footer-lg {
      display: flex;
      max-width: 1140px;
      padding: 30px;
      padding-bottom: 0 !important;
      margin: 0 auto;
      border: 3px solid $blue;
      margin-bottom: 180px !important;
      position: relative;
      .yellow-lg {
        position: absolute;
        top: 95px;
        right: -50px;
        height: 430px;
        width: 250px;
        background: $yellow;
        border-left: 30px solid white;
        border-top: 30px solid white;
      }
      .form-box {
        background: none;
        position: relative;
        right: -30px;
        padding-bottom: 0 !important;
        .wpcf7-response-output {
          width: 64%;
          position: absolute;
          bottom: 3px;
          left: -7px;
        }

        input,
        textarea {
          border: 2px solid #969aa5 !important;
        }
        input[type="submit"] {
          border: none !important;
        }
      }
      .box {
        border: none;
        padding-bottom: 0 !important;
        .info span {
          font-size: 18px;
        }
      }
    }
  }

  .footer-detail-lg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 350px;
  }
}

.footer-login {
  height: 95px;
  background: $blue;
  padding-left: 58px;
  display: flex;
  align-items: center;
  img {
    margin-right: 15px;
  }
  .hello-name,
  .name {
    font-family: "Fractul bold";
    display: inline;
    font-size: 20px;
    color: $yellow;
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    width: 20%;
    padding-left: 40px;
    background: #969aa5;
    span {
      color: $blue !important;
    }
  }
}
