header {
  position: relative;

  .header {
    background: transparent;
    .container {
      padding: 30px 0;
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      z-index: 10;
      // background: white;
      .logo-header {
        margin-left: 60px;
      }
      .links {
        position: absolute;
        right: 20px;
        a {
          padding: 10px;
          font-size: 18px;
          line-height: 30px;
          color: $blue;
        }
      }
    }
  }
}

.ativo {
  height: 100vh !important;
  align-items: baseline !important;
  position: fixed !important;
  background: $blue !important;
  z-index: 1000000 !important;

  .logo-header {
    display: none;
  }
  .logo-header-2 {
    display: block !important;
  }

  .form-header {
    .form-lock{
      right: 25px;
      z-index: 33;
    }
    padding: 15px 30px;
    display: block !important;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #969aa5;
    &.form-header-mobile{
      transition: all ease 0.6s;
      bottom: -1000px;
      &.aparecer{
        bottom: 0;
      }
    }
    p {
      color: white;
    }
    label {
      display: block;
    }
    input[type="text"],
    input[type="password"] {
      height: 45px;
      background: #f5f5f5 !important;
      outline: none;
      border: none;
      padding: 15px;
      margin-bottom: 15px;
    }
    input[type="submit"] {
      @extend .btn-cta;
      border: none;
      outline: none;
      display: block;
      margin: 5px 0 0 auto;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    @media (min-height: 750px) {
      padding: 30px !important;
    }
  }

  .midias-header {
    display: flex !important;
    // position: absolute;
    // bottom: 0;
    // right: 45px;
    a {
      display: flex;
      padding: 10px 15px !important;
      
      &.lock-menu-mobile{
        padding-left: 0 !important;
        img{
          height: 25px;
        }
      }
    }
  }

  .menu-icon {
    .navicon {
      &:before,
      &:after {
        background: $yellow !important;
      }
    }
  }
  .menu {
    position: absolute;
    top: 110px;
    max-height: 100% !important;
    @media (min-height: 720px) {
      top: 140px;
      a {
        padding: 10px 0;
      }
    }
  }
}

.top-nav {
  padding: 30px;
  padding-bottom: 50px !important;
  position: absolute;
  background: white;
  top: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: top 0.75s ease-in-out;
  overflow: hidden;

  .logo-header {
    width: 75%;
  }
  .logo-header-2 {
    display: none;
  }
  .midias-header,
  .form-header {
    display: none;
  }

  .menu {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-height: 0;
    transition: max-height 0s ease-in-out;

    a {
      font-family: "Fractul bold";
      font-size: 25px;
      line-height: 50px;
      text-align: left;
      color: $yellow;
      // padding: 20px 0 15px 0;
    }
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 25px 10px;
    margin-bottom: 0;
    position: absolute;
    right: 20px;

    .navicon {
      background: $blue;
      display: block;
      height: 2px;
      position: relative;
      width: 1.625rem;

      &:before,
      &:after {
        background: $blue;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &:before {
        top: 7px;
      }

      &:after {
        top: -7px;
      }
    }
  }

  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 300px;
    }

    &:checked ~ .menu-icon .navicon {
      background: transparent;

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }

    &:checked ~ .menu-icon:not(.steps) .navicon {
      &:before,
      &:after {
        top: 0;
      }
    }
  }
}

.box-btn-header,
.box-btn-header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    border-bottom: none !important;
  }
}

.box-btn-header-2 {
  position: absolute;
  bottom: 15px;
  display: none;
}

// DESKTOP MENU CSS
@media (min-width: 840px) {
  .top-nav li {
    margin: 0 10px;
  }
  .top-nav .menu {
    width: auto;
    max-height: none;
    flex-direction: row;
  }
  .top-nav .menu-icon {
    display: none;
  }
}

.menu-login {
  opacity: 0;
  transition: opacity 0.2s linear;
  height: 100vh;
  width: 100vw;
  background: $blue;
  padding-top: 30px;
  position: fixed;
  z-index: -1;
  .container {
    .header-login {
      justify-content: space-between;
      align-items: center;
      display: flex;
      a {
        font-size: 30px;
        color: $yellow;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: 26vh;
      .title {
        font-size: 103px;
        letter-spacing: 0.05em;
        line-height: 101px;
        color: white;
      }
      .form-box {
        position: relative;
        z-index: 5;
        color: #969aa5;
        input[type="text"],
        input[type="password"] {
          display: block;
          width: 100%;
          height: 45px;
          background: #f5f5f5;
          border: 1px solid #969aa5;
          padding-left: 7px;
          margin-bottom: 20px;
          &::placeholder {
            font-family: "Fractul italic";
            font-size: 14px;
            letter-spacing: 0.05em;
            line-height: 40px;
            color: #969aa5;
          }
        }
        .btn-cta,
        #wp-submit {
          height: 45px;
          border: none;
          padding: 11px 25px;
          margin: 0 0 0 auto;
          display: block;
        }
      }
      .yellow-square {
        position: absolute;
        width: 306px;
        height: 425px;
        background: #e1d1ae;
        right: -5%;
        z-index: 0;
        top: -100px;
      }
    }
  }
}

.opacity-event {
  opacity: 1 !important;
  z-index: 1000 !important;
}

.custom-nav {
  background: $blue;
  height: 206px;
  .top-nav {
    align-items: center;
  }
  .title-banner {
    padding-left: 30px;
    position: relative;
    top: 120px;
    color: white;
    font-family: "Bebas Neue";
    font-size: 51px;
    letter-spacing: 0.05em;
    line-height: 50px;
  }
}
