.banner-home {
  // background: url("../../dist/img/bg-banner.png") center center no-repeat;
  background: $yellow;
  background-size: cover;
  height: 667px;
  width: 100%;
  position: relative;

  .banner-title {
    font-family: "Bebas Neue", cursive;
    font-size: 67px;
    line-height: 66px;
    color: white;
    position: relative;
    top: 180px;
    z-index: 4;
    @media(min-width: map-get($grid-breakpoints,lg)){
      color: $blue;
    }
  }
  .sub {
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.03em;
    line-height: 35px;
    color: $blue;
    top: 200px;
    left: 0px;
    position: relative;
    border: 3px solid $blue;
    padding: 50px 40px;
    padding-right: 80px !important;
    width: 111%;
  }
  .house-mob {
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: 3;
  }
  .btn-cta {
    position: relative;
    top: 195px;
    left: 30px;
  }
}

#sobre-nos {
  padding-top: 60px;
  overflow: hidden;
  .title-section {
    padding-left: 0;
  }
  .title {
    padding-bottom: 38px;
  }
  .line-bottom {
    padding-bottom: 104px;
    position: relative;
    .line {
      margin: 52px 0;
      height: 3px;
      width: 110%;
      display: block;
      background: $yellow;
      position: absolute;
      bottom: 0;
      right: -30px;
    }
  }

  .personagens {
    .personagem {
      position: relative;
      padding-bottom: 400px;
      .azul {
        height: 355px;
        padding: 56px 85px 56px 40px;
        background: $blue;
        position: absolute;
        width: 109%;
        font-family: "Fractul Regular";
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 30px;
        .name {
          font-size: 25px;
          font-family: "Fractul Bold";
          color: $yellow;
        }
        .prof {
          color: $yellow;
          padding-bottom: 20px;
        }
        p {
          color: white;
        }
      }
    }
    .right {
      right: -2px;
      img {
        position: relative;
        display: block;
        margin: 0 0 0 43px;
        top: 10px;
      }
    }
    .left {
      left: -50px;
      padding-bottom: 350px;
      .azul {
        padding-right: 70px;
      }
      img {
        position: relative;
        margin: 0 0 0 10px;
        display: block;
        left: 30px;
        top: -10px;
      }
    }
  }

  .texto-final {
    position: relative;
    top: -120px;
    border: 3px solid $blue;
    width: 111%;
    padding-top: 154px;
    padding-bottom: 70px;
    padding-left: 45px;
    padding-right: 75px;
    margin-bottom: -70px;

    p {
      font-family: "Fractul italic";
      font-size: 17.5px;
      letter-spacing: 0.05em;
      line-height: 30px;
      color: $blue;
    }
  }

  .caracteristicas {
    .caracteristica {
      padding-bottom: 50px;
      .title {
        color: $yellow !important;
        padding-bottom: 10px !important;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

#nossos-servicos {
  padding-top: 50px;
  .testa {
    height: 185px;
    position: relative;
    .title-section::after {
      width: 45%;
    }
  }
  .yellow {
    padding-top: 150px;
    // height: 860px;
    background: $yellow;
    margin-bottom: 77px;
    p {
      color: $blue;
      padding-bottom: 60px;
    }
  }
  .wrapper-servicos {
    position: relative;
    // top: -80px;
    margin-bottom: -80px;
    padding-bottom: 30px;
    .carousel-servicos {
      padding-top: 80px;
      .item {
        .imagem {
          position: relative;
          margin-bottom: 70px;
          img {
            z-index: 5;
            position: relative;
            width: 100%;
          }
          .number {
            position: absolute;
            font-family: "Bebas Neue";
            font-size: 173px;
            line-height: 179px;
            color: $blue;
            z-index: 6;
            top: -80px;
            right: -60px;
          }
          .blue-square {
            // width: 254px;
            height: 151px;
            background: $blue;
            position: absolute;
            z-index: 0;
            bottom: -20px;
            right: -20px;
            &.segundo {
              bottom: 55px;
            }
          }
        }
        .texto {
          padding-top: 35px;
          .titulo {
            font-family: "Fractul bold";
            font-size: 22px;
            letter-spacing: 0.05em;
            line-height: 30px;
            color: $blue;
            margin-bottom: 30px;
          }
          p {
            font-size: 17px;
            letter-spacing: 0.05em;
            line-height: 30px;
            color: $blue;
            padding-bottom: 30px;
          }
        }
      }
    }

    .controls-servicos {
      position: absolute;
      top: 290px;
      right: 37px;
      z-index: 1000;
      img {
        padding-left: 25px;
      }
    }
    .hidden {
      opacity: 0;
    }
  }
}

#nosso-diferencial {
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
  .title-section::after {
    width: 40%;
  }
  .title {
    padding-bottom: 20px;
  }
  .sub {
    font-family: "Fractul bold";
    font-size: 22px;
    letter-spacing: 0.05em;
    line-height: 30px;
    color: $blue;
    padding-bottom: 30px;
  }
  p {
    padding-bottom: 60px;
  }
  .x {
    font-family: "Bebas Neue";
    font-size: 123px;
    color: #e1d1ae;
    position: absolute;
    z-index: 5;
    top: 33%;
    left: 30px;
  }
  .boxes {
    position: relative;
    .box {
      position: relative;
      right: 2px;
      width: 110%;
      .title {
        font-size: 33px;
        letter-spacing: 0.05em;
        line-height: 40px;
      }
      p {
        color: white !important;
        padding-bottom: 0;
      }
    }
    .gray {
      background: #969aa5;
      padding-top: 40px;
      padding-bottom: 75px;
    }
    .blue {
      background: $blue;
      padding-top: 75px;
      padding-bottom: 40px;
      .title {
        color: white;
      }
    }
  }
}

#portfolio {
  margin-bottom: 85px;
  padding-top: 60px;
  .blue {
    height: 529px;
    background: $blue;
    .title {
      font-size: 60px;
      letter-spacing: 0.05em;
      line-height: 68px;
      text-align: left;
      color: $yellow;
      position: relative;
      top: -40px;
    }
    .wrapper-portfolio {
      position: relative;
      margin-bottom: 40px;
      .carousel-portfolio,
      .carousel-portfolio-2 {
        .item {
          .item-img {
            background-size: cover !important;
            position: relative;
            .efeito-hover {
              opacity: 0;
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              transition: all 0.6s ease;
              .filtro {
                background: $blue;
                opacity: 0.5;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
              }
              .plus {
                font-size: 81px;
                line-height: 51px;
                color: white;
                position: absolute;
                top: 70px;
                left: 42%;
              }
              &:hover {
                opacity: 1;
              }
            }
          }
          .first {
            height: 189px;
            margin-bottom: 30px;
          }
          .second {
            height: 307px;
          }
        }
      }
      .controls-portfolio-2 {
        display: none;
      }
      .controls-portfolio {
        img {
          filter: brightness(0) invert(1);
        }
      }
      .controls-portfolio,
      .controls-portfolio-2 {
        position: absolute;
        bottom: -50px;
        right: 0;
        z-index: 5;
        img {
          padding-left: 25px;
        }
        .hidden {
          opacity: 0;
        }
      }
    }
  }
}
#video-goma {
  .bg-azul {
    background: $blue;
    text-align: center;
    padding: 150px 15px 300px;
    .title,
    .sub-title {
      color: $yellow;
    }
    .sub-title {
      font-size: 32px;
    }
  }
  .video {
    max-width: 1024px;
    margin: -190px auto 85px;
    padding: 0 15px;
  }
}
