.menu-box {
  background: $yellow;
  padding-left: 30px;
  overflow-x: scroll;
  overflow-y: visible;
  .container {
    width: 200%;
    height: 90px;
    padding: 0 !important;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .menu-link {
      width: 190px !important;
      border-bottom: 3px solid $white;
      font-family: "Fractul bold";
      font-size: 20px;
      color: white;
      margin-right: 40px;
      height: 35px;
      background: transparent;
      padding: 0;
    }
    .nav-item:last-child .menu-link {
      margin-right: 0px !important;
    }
    .active {
      color: $blue !important;
      border-color: $blue !important;
    }
  }
}

.section-slide {
  padding-top: 50px;
  padding-bottom: 142px;
  position: relative;
  .header-section {
    padding-bottom: 44px;
    display: flex;
    align-items: flex-start;
    img {
      padding-right: 20px;
    }
    .title,
    .project-title {
      font-family: "Fractul bold";
      font-size: 20px;
      line-height: 20px;
      color: $blue;
      display: inline;
    }
    .project-title {
      color: #969aa5 !important;
    }
    p {
      font-family: "Fractul";
      font-size: 18px;
      color: #969aa5;
      padding-top: 20px;
    }
  }
  .list-arquivos{
    margin-bottom: 25px;
    li{
      padding-bottom: 15px;
      a{
        color: #969aa5;
      }
    }
  }
  .arquivos {
    .arquivo-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .arquivo {
        width: 144px;
        .box-logo {
          height: 130.51px;
          border: 2px solid #969aa5;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;;
          .color-logo {
            width: 53.47px;
            height: 53.47px;
            display: flex;
            align-items: center;
            justify-content: center;
            .extension {
              font-family: "Bebas Neue";
              font-size: 20px;
              letter-spacing: 0.05em;
              color: #fff;
            }
          }
          .yellow {
            background: $yellow;
          }
          .blue {
            background: $blue;
          }
          .fotinha{
            max-height: 100%;
          }
        }
        .file-name {
          font-family: "Fractul";
          font-size: 13px;
          color: #969aa5;
          margin-top: 7px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .infos {
    .header-section {
      .title {
        display: block;
      }
      .project-title,
      .title {
        position: relative;
        top: 13px;
      }
    }
    .contact {
      a {
        font-size: 13px;
        letter-spacing: 0.05em;
        line-height: 22px;
        color: $blue;
        padding-right: 20px;
        i {
          margin-right: 7px;
        }
      }
    }
  }
  .detail-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
