@media (min-width: map-get($grid-breakpoints,lg )) {
  .menu-box {
    padding-top: 40px;
    padding-bottom: 42px;
    width: 20%;
    padding-left: unset;
    overflow: hidden;
    .container {
      height: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: unset;
      height: 420px;
      .nav {
        display: block;
        .menu-link {
          padding-bottom: 10px;
          margin-right: unset;
          height: unset;
          margin-bottom: 12px;
        }
      }
    }
  }

  .lg-custom {
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    .header-lg {
      height: 168px;
      background: $blue;
      .container {
        max-width: 89%;
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .title {
          color: white;
          img {
            margin-left: 20px;
          }
        }
        .btn-logout {
          border-radius: 3px;
          width: 150px;
          height: 46px;
          background: $yellow;
          font-family: "Fractul bold";
          letter-spacing: 0.05em;
          color: $blue;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            margin-left: 10px;
          }
        }
      }
    }
    .section-slide {
      max-width: 90%;
      margin-left: 0;
      .projeto {
        margin-bottom: 30px;
      }
      .arquivos {
        .arquivo-box {
          justify-content: flex-start;
          margin-bottom: 40px;
          .arquivo {
            margin-left: 40px;
            .file-name {
              font-size: 15px;
            }
          }
        }
      }
      .infos {
        .title,
        .project-title {
          display: inline;
          top: unset;
          font-size: 20px;
        }
        .contact {
          padding-left: 40px;
          position: relative;
          top: -25px;
          a {
            font-size: 18px;
            margin-bottom: 14px;
            display: flex;
            align-items: center;
          }
        }
      }
      .detail-bottom {
        right: -9%;
      }
    }
  }
}
