@media (min-width: map-get($grid-breakpoints, lg)) {
  .banner-home {
    background: unset;
    position: relative;
    top: -130px;
    z-index: 5;
    height: 657px;
    margin-bottom: -130px;
    .sub {
      border: none;
      padding: unset !important;
      width: unset;
    }
    .container {
      background: white;
      padding: 0;
    }
    .blue-square {
      background: $blue;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
    .container {
      position: relative;
      height: 100%;
      .yellow-square {
        background: $yellow;
        height: 486px;
        position: absolute;
        bottom: 0;
      }
      .house {
        position: absolute;
        right: 8%;
        top: unset !important;
        bottom: 27%;
        width: 62%;
      }
    }
    .detail {
      position: absolute;
      bottom: -55%;
      left: -8%;
      width: 524px;
    }
    .banner-title {
      font-size: 103px;
      line-height: 98px;
      top: 250px;
      left: 140px;
    }
    .box-lg {
      border-left: none;
      border-top: none;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 4%;
      right: 10.5%;
      width: 57%;
      div {
        height: 100px;
        align-items: center;
        display: flex;
        padding-left: 40px !important;
        &:first-child {
          border-bottom: 2px solid $blue;
        }
      }
      .border-top-custom {
        border: 2px solid $blue;
        border-left: none;
      }
      .sub,
      .btn-cta {
        top: unset;
        left: unset;
      }
      .sub {
        width: 218px;
      }
      .btn-cta {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 50px;
      }
    }
  }
  #sobre-nos {
    position: relative;
    .sobre-empresa {
      position: relative;
      .title-section {
        transform: rotate(-90deg);
        position: absolute;
        bottom: -160%;
        left: -15px;
        &::after {
          right: unset;
          top: 16px;
          width: 207%;
          left: 160px;
        }
      }

      .line-bottom {
        display: flex;
        align-items: center;
        left: 110px;
        z-index: 5;
        padding-bottom: unset;
      }
      .line-lg {
        width: 48%;
        height: 2px;
        background: $yellow;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    .personagens {
      display: flex;
      position: absolute;
      right: 0;
      margin-top: 50px;
      margin-bottom: 50px;
      .personagem {
        padding-bottom: 270px;
        border-bottom: 30px solid white;
        z-index: 5;
        .azul {
          height: 270px;
        }
        &:first-child {
          border-bottom: none;
        }
      }
      .left {
        top: 29px;
        left: 0;
      }
    }
    .texto-final {
      margin-top: 610px;
      width: 100%;
      padding-top: 70px;
      padding-bottom: 50px;
      padding-left: 130px;
    }
    .caracteristicas {
      max-width: 1000px;
      position: relative;
      left: 130px;
    }
  }
  #nossos-servicos {
    position: relative;
    padding-top: 0;
    .testa {
      position: unset;
    }
    .title-section {
      right: 70px;
      bottom: 32px;
      &::after {
        width: 300px !important;
        left: 235px;
      }
    }
    .title {
      margin-left: 130px !important;
      position: relative;
      top: 100px;
    }
    .yellow {
      margin-right: 20%;
      padding-left: 130px;
      min-height: 715px;
      margin-bottom: 170px;
      .container p {
        padding: 0 140px;
        padding-bottom: 60px;
      }
      .detail-lg {
        position: absolute;
        top: -17%;
        right: 0px;
        width: 420px;
      }
      .wrapper-servicos {
        .carousel-servicos {
          .item {
            .imagem {
              left: 15px;
              .blue-square {
                height: 235px;
              }
            }
            .texto {
              position: relative;
              top: -60px;
              padding-top: 0;
            }
          }
        }
        .controls-servicos {
          bottom: 100px;
          top: auto;
        }
      }
    }
  }
  #nosso-diferencial {
    padding-top: 110px;
    .texto-intro {
      position: relative;
      left: 170px;
      margin-right: 100px;
      .title-section {
        bottom: -81%;
        left: -26%;
        &::after {
          width: 500px;
          left: 260px;
        }
      }
    }
    .boxes {
      display: flex;
      align-items: center;
      justify-content: end;
      .gray {
        position: relative;
        z-index: 5;
        height: 300px;
        left: 80px;
      }
      .blue {
        padding-left: 15%;
        padding-right: 7%;
        position: relative;
        height: 420px;
      }
      .x {
        top: 15%;
        left: 38%;
        font-size: 225px;
      }
    }
  }
  #portfolio {
    padding-top: 100px;
    position: relative;
    .port-right {
      position: absolute;
      right: 107px;
    }
    .port-left {
      position: absolute;
      z-index: 5;
      left: -200px;
      bottom: -300px;
    }

    .blue {
      height: 767px;
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 130px;
      position: relative;
      .title {
        font-size: 114px;
        letter-spacing: 0.05em;
        line-height: 118px;
        top: -69px;
        left: 144px;
        width: 221px;
        margin-bottom: 160px;
      }
      .wrapper-portfolio {
        top: -180px;
        .controls-portfolio-2 {
          display: unset;
          bottom: 20px;
          right: 150px;
        }
        .carousel-portfolio-2 {
          .item {
            position: relative;
            .box-images {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-wrap: wrap;

              .item-img {
                width: 360px !important;
                margin: 15px;
                margin-bottom: unset !important;
                .plus {
                  font-size: 127px;
                  left: 41%;
                  top: 44%;
                }
              }
              .first {
                height: 274px !important;
              }
              .second {
                height: 422px !important;
                bottom: 77px;
              }
              .third {
                height: 460px;
                bottom: 50px;
              }
              .fourth {
                height: 346px;
                bottom: 105px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  #nossos-servicos {
    .yellow .container .custom-p {
      padding-left: 265px !important;
    }
    .imagem {
      left: 155px !important;
    }
    .texto {
      left: 110px;
    }
  }
  #nosso-diferencial {
    padding-top: 200px;
  }
}

@media (min-width: 768px) and (max-width: 840px) {
  .banner-home {
    background: url("../../dist/img/tablet-bg.png") center center no-repeat;
    .box-lg {
      position: relative;
      top: -30px;
      .sub,
      .btn-cta {
        left: 0;
      }
    }
  }

  #sobre-nos {
    .personagens {
      .personagem {
        .azul {
          width: unset !important;
        }
      }
      .left {
        left: unset;
      }
    }
    .texto-final {
      width: 102%;
    }
  }
  #nossos-servicos {
    .yellow {
      padding-top: 40px;
      height: 725px;
      .carousel-servicos {
        .imagem {
          margin-left: 60px;
        }
      }
      .custom-p {
        padding-bottom: 100px;
      }
    }
  }
  #nosso-diferencial {
    .boxes {
      .box {
        width: unset;
      }
    }
  }
}

@media (min-width: 1250px) and (max-width: 1300px) {
  .banner-home {
    .house {
      right: 6.7% !important;
    }
  }
}

@media (min-width: 1435px) and (max-width: 1450px) {
  .banner-home {
    .house {
      right: 9% !important;
    }
  }
}

@media (min-width: 1600px) {
  .banner-home {
    .house {
      right: 8.3% !important;
      top: 10px !important;
      width: 66% !important;
    }
  }
}
