@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
  font-family: Fractul regular;
  src: url(../../dist/fonts/Fractul-Regular.otf);
}
@font-face {
  font-family: Fractul bold;
  src: url(../../dist/fonts/Fractul-Bold.otf);
}
@font-face {
  font-family: Fractul italic;
  src: url(../../dist/fonts/Fractul-Italic.otf);
}

$red: #e0001b;
$white: white;
$brown: #212121;
$blue: #0a2846;
$yellow: #e1d1ae;

.color-white{

  color: white;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Fractul regular";
  overflow-x: hidden;
    width: 100%;
  span {
    display: block;
  }
}

.title-strong {
  font-family: "Bebas Neue", cursive;
}

.title-section {
  font-family: Fractul Regular;
  font-weight: 200;
  font-size: 17px;
  letter-spacing: 0.15em;
  line-height: 35px;
  color: $blue;
  text-transform: uppercase;
  display: flex;
  position: relative;
  margin-bottom: 32px;
  &::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 15px;
    width: 70%;
    height: 3px;
    background: $blue;
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    transform: rotate(-90deg);
    position: absolute;
    bottom: -185%;
    &::after {
      right: unset;
      top: 16px;
      width: 207%;
      left: 160px;
    }
  }
}

.title {
  font-family: "Bebas Neue";
  font-size: 43px;
  letter-spacing: 0.05em;
  line-height: 46px;
  color: $blue;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    font-size: 58px;
    line-height: 62px;
  }
}

img {
  @extend .img-fluid;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}

.container {
  padding: 0 30px;
}

p {
  font-family: "Fractul Regular";
  font-size: 17.5px;
  letter-spacing: 0.05em;
  line-height: 28px;
  color: #969aa5;
  margin: 0;
}

.btn-cta {
  background: #1fbf63;
  padding: 15px 25px;
  border-radius: 3px;
  font-family: "Fractul bold";
  font-size: 17px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    color: $white;
  }
}

.whats-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background: #188a0e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  i {
    font-size: 27px;
    color: #fff;
  }
}

@import "footer";
@import "header";
@import "home";
@import "responsive-home";
@import "home-user";
@import "responsive-user";
